.custom-navbar {
    background-color: #133B40
}
i {
    color: white;
}


.nav-items {
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top:2px; 
    padding-bottom: 0.5rem; 
    color: #E33E19; 
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    font-weight: 300; 
    font-size: 18px; 
    cursor: pointer!important;
}

.active {
    padding-top: 0px; 
    color: black;
}

